*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size:17px;
    font-family: Arial, Helvetica, sans-serif;
    
}


.img{
    text-align: center;

}
ul{
    margin: 12px 23px;
    margin-left: 77px;
   
}
ul li{
    display: inline;
    margin-left: 59px;

}

li a{
    text-decoration:none;
    padding: 12px;
    color: #333;
    
}
.showcase{
    height: 50vh;
    background: linear-gradient( rgba(0,0,0,0.8),rgba(0,0,0,0.6) ),url(images/old-4525345_640.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.slice{
    height: 12px;
}
.showcase p{
    margin-top: 160px;
    color: #f1f1f1;
    text-align: center;
    font-size:19px;
    text-shadow: 2px 2px 2px red;
}
.showcase h1{
    text-align: center;
    word-spacing: 3px;
    font-size: 33px;
    color: greenyellow;
    animation-name: bt;
    animation-direction: reverse;
    animation-duration: 2s;
    animation-iteration-count: 3;
    transition: 2s all;
}

footer{
    background:#f1f1f1;
    padding: 20px;

    text-align: center;
    color: #111;

}
.musics{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    
}
.btn{
    border: none;
    background: #333;
    padding: 8px;
    color: #fff;
    border-radius: 5px;
    animation-name: bt;
    animation-direction: reverse;
    animation-duration: 2s;
    animation-iteration-count: 2;
    transition: 2s all;
}


@keyframes bt{
    0%{
       transform: rotateX(90deg); 
    }

    50%{
        transform: rotateY(90deg);
        color: green;
    }
    100%{
        transform: rotateZ(90deg);
        color: #111;
    }
}

.btn:hover{
    color:green;
    background: #f1f1f1;
   
}

.btn{
    margin: 7px;
}
.jonny{
    background: linear-gradient( rgba(0,0,0,0.8),rgba(0,0,0,0.9) ),url(images/wallj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
 
}

.weekend{
    background: linear-gradient( rgba(0,0,0,0.8),rgba(0,0,0,0.9) ),url(images/wallw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}

.usher{
    background: linear-gradient( rgba(0,0,0,0.8),rgba(0,0,0,0.9) ),url(images/wallus.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}


h3{
    text-align: center;
    color: #fff;
    font-size:23px;
}

/* vids */

.vid{
    background: #000;
    color: red;
    text-align: center;
    font-size: 30px;

}
.vids{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background: linear-gradient( rgba(0,0,0,0.8),rgba(0,0,0,0.9) ),url(images/wallus.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position:center;
/* height: 90vw; */
}
video{
    padding: 12px;
}

.bt{
    border: none;
    background: #333;
    padding: 8px;
    color: #fff;
    border-radius: 5px;
    animation-name: b;
    animation-direction: reverse;
    animation-duration: 2s;
    transition: 2s all;
}


.bt:hover{
    color:green;
    background: #f1f1f1;
}


@keyframes b{
    0%{
       transform: rotateX(180deg); 
    }

    50%{
        transform: rotateY(180deg);
        color: green;
    }
    100%{
        transform: rotateZ(180deg);
        color: #111;
    }
}

/* last butotn */
#load{
    border: none;
    background: red;
    color: #fff;
    position: absolute;
    position: fixed;
    right: 1px;
    top: 553px;
    padding: 18px;
    border-radius: 8px;
}
#load:hover{
    background: crimson;
    color: #111;
    transition: 1s all;
}
h3{
    font-family: monospace;
    color:#000;
    text-shadow: 1px 1px 1px #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* the bio text */
.bio{
    color: #fff;
    text-align: end;
    float: right;
    width: 40vw;
    margin-top: 93px;

  
}
.bio{

    padding: 8px;
    color: #fff;
    animation-name: bio;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-duration: 2s;
    transition: 2s all;
    position: relative;
    animation-fill-mode: forwards;
    transition: 3s;
    line-height: 22px;
    font-size: 18px;
    word-spacing: 12px;
}


@keyframes bio{
    0%{
     
       left: -2000px; 
    }

    100%{
  
     left:  0;
    }
   
}